version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=sqlite+aiosqlite:///app.db
      - STATIC_DIR=static
      - DEFAULT_USER_PROFILE_PIC_PATH=static/default_media/default.png
      - REDIRECT_URI=http://localhost:5500
    volumes:
      - ./backend/static:/app/static
      - ./backend/app.db:/app/app.db

  frontend:
    build: ./frontend
    ports:
      - "5500:80"